@model LojaVirtual.Models.Produto

<h2>Produto</h2>
<br />
<b>Código: </b>@Model.Id
<br />
<b>Nome: </b>@Model.Nome
<br />
<b>Descrição: </b>@Model.Descricao
<br />
<b>Valor: </b>@Model.Valor.ToString("C")
<br />

Todos os direitos reservado &copy; @DateTime.Now.Year