@model VMProdutoListagem
@{
    var pesquisa = Context.Request.Query["pesquisa"];
    var ordenacao = Context.Request.Query["ordenacao"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}



@if (Model.Lista.Count > 0)
{
    <div class="container" id="code_prod_complex">
        <div class="row">
            <div class="offset-md-10 col-md-2">
                <select id="ordenacao" asp-for="@ordenacao" class="form-control" asp-items="@Model.Ordenacao"></select>
            </div>
        </div>
        <div class="row">
            @foreach (var produto in Model.Lista)
            {
                <a asp-controller="Produto" asp-action="Visualizar" asp-route-id="@produto.Id">
                    <div class="col-md-3">
                        <figure class="card card-product">
                            <div class="img-wrap">
                                @if (produto.Imagens != null && produto.Imagens.Count() > 0)
                                {
                                    <img src=@produto.Imagens.ElementAt(0).Caminho>
                                }
                                else
                                {
                                    <img src="~/img/imagem-produto.png">
                                }
                            </div>
                            <figcaption class="info-wrap">
                                <h4 class="title">@produto.Nome</h4>
                            </figcaption>
                            <div class="bottom-wrap">
                                <a href="" class="btn btn-sm btn-primary float-right">Adicionar</a>
                                <div class="price-wrap h5">
                                    <span class="price-new">@produto.Valor.ToString("C")</span>
                                </div>
                            </div>
                        </figure>
                    </div>
                </a>
            }

        </div>
        @Html.PagedListPager((IPagedList)Model.Lista, pagina => Url.Action(action, new { pagina = pagina, pesquisa = pesquisa, ordenacao = ordenacao }))
    </div>
}
else
{
    <div class="container">
        <br>
        <div class="alert alert-info col-md-4 offset-md-4">
            <strong>Opsss</strong> Não temos produtos nessa categoria!
        </div>
    </div>
}